* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.25rem;
}

.container {
    border: 2px solid black;
    padding: 1rem 2rem;
}

.title {
    /* border: 1px solid red; */
    padding: 0 0.5rem;
    margin: 1rem 0;
}

.main-body {
    /* border: 2px solid cyan; */
    padding: 1rem;

}

#universe {
    /* border: 1px solid blue; */
}

#characteris {
    margin: 0.5rem 0;
    /* border: 1px solid blue; */
}

#characteris p {
    padding-bottom: 0.25rem;
}

#hint-cont {
    /* border: 2px solid green; */
}

.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn button {
    margin: 0.5rem 0;
    padding: 0.45rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid blueviolet;
    cursor: pointer;
    background-color: orange;
}

.main-body button {
    margin: 0.5rem 0;
    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
    border: 1px solid blueviolet;
    cursor: pointer;
    background-color: orange;
}

input {
    width: 60%;
    padding: 0.25rem;
}

#guess-field {
    /* border: 2px solid orange; */
    margin: 0.45rem 0;
}

#guess-field h3 {
    padding-bottom: 0.45rem;
}

.hide {
    display: none;
}

#getHint {
    position: relative;
    padding: 0.25rem 0.5rem;
}

#getHint span{
    background-color: green;
    color: white;
    padding: 0.1rem;
    border-radius: 30%;
    position: absolute;
    top: -10px;
}

.result-container{
    height: 20rem;
    width: 23rem;
    border: 2px solid black;
    background-color: yellow;
    padding: 0.25rem;
    position: absolute;
    top: 20vh;
}

#image-cont{
    height: 10rem;
    width: 10rem;
    margin: auto;
    margin-top: 2rem;
}

#image-cont img{
    width: 100%;
}

.result-container p{
   width: max-content;
    color: white;
    background-color: green;
    margin: auto;
    margin-top: 2rem;
    padding: 0.4rem 0.25rem;
    text-align: center;
}

.result-container i {
    position: absolute;
    right: 0;
    padding: 0.25rem;
    cursor: pointer;
}

.blurred-box {
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(20px);                  
 
}