* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.25rem;
    background-image: url("assets/bg.jpg");
}

.container {
    border: 2px solid black;
    padding: 1rem 2rem;
    /* background-color: white; */
}

.gameTitle {
    background-color: white;
    padding: 0.45rem 1.25rem;
    border-radius: 1rem;
    position: absolute;
    top: 2rem;
    left: 1rem;
}

.title {
    /* border: 1px solid red; */
    padding: 0 0.5rem;
    margin: 1rem 0;
    width: 43rem;
    
}

.main-head {
    border: 2px solid red;
    padding: 1rem;
    text-align: center;
    background-color: cyan;
    border-radius: 1rem;
}

#universe p{
    /* padding-left: 0.7rem; */
}

.main-body {
    /* border: 2px solid cyan; */
    padding: 1rem;
}

#wrongResult p{
    padding: 0.7rem 0 0 0.7rem;
}

















#universe {
    /* border: 1px solid blue; */
}

#characteris {
    width: 40%;
    padding: 1rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
    border: 1px solid blue;
     background-color: yellow;
    border-radius: 1rem;
}

#characteris p {
    padding-bottom: 0.25rem;
}

#hint-cont {
    width: 60%;
    padding: 1rem;
     padding-left: 1.5rem;
    border: 2px solid green;
     background-color: magenta;
    border-radius: 1rem;
}

.main-mid {
    display: flex;
    margin: 1rem 0;
}

.main-bottom {
    border: 2px solid yellow;
    padding: 1rem 1.3rem;
    text-align: center;
    background-color: brown;
    border-radius: 1rem;
}

.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn button {
    margin: 0.5rem 0;
    padding: 0.45rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid blueviolet;
    cursor: pointer;
    background-color: orange;
}

.main-body button {
    margin: 0.5rem 0;
    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
    border: 1px solid blueviolet;
    cursor: pointer;
    background-color: orange;
}

input {
    width: 60%;
    padding: 0.25rem;
}

#guess-field {
    /* border: 2px solid orange; */
    margin: 0.45rem 0;
}

#guess-field h3 {
    padding-bottom: 0.45rem;
    /* text-align: center; */
}

.hide {
    display: none;
}

#getHint {
    position: relative;
    padding: 0.25rem 0.5rem;
}

#getHint span{
    background-color: green;
    color: white;
    padding: 0.1rem;
    border-radius: 30%;
    position: absolute;
    top: -10px;
}

.result-container{
    height: 20rem;
    width: 23rem;
    border: 2px solid black;
    background-color: yellow;
    padding: 0.25rem;
    position: absolute;
    top: 20vh;
}

#image-cont{
    height: 10rem;
    width: 10rem;
    margin: auto;
    margin-top: 2rem;
}

#image-cont img{
    width: 100%;
}

.result-container p{
   width: max-content;
    color: white;
    background-color: green;
    margin: auto;
    margin-top: 2rem;
    padding: 0.4rem 0.25rem;
    text-align: center;
}

.result-container i {
    position: absolute;
    right: 0;
    padding: 0.25rem;
    cursor: pointer;
}

.blurred-box {
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(20px);                  
 
}